In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
data=pd.read_csv("finds.csv")

In [5]:
data

      Sky Airtemp Humidity    Wind Water Forecast WaterSport
0   Sunny    Warm   Normal  Strong  Warm     Same        Yes
1   Sunny    Warm     High  Strong  Warm     Same        Yes
2  Cloudy    Cold     High  Strong  Warm   Change         No
3   Sunny    Cold     High  Strong  Cool   Change        Yes
4     NaN     NaN      NaN     NaN   NaN      NaN        NaN
5     NaN     NaN      NaN     NaN   NaN      NaN        NaN
6     NaN     NaN      NaN     NaN   NaN      NaN        NaN
7     NaN     NaN      NaN     NaN   NaN      NaN        NaN
8     NaN     NaN      NaN           NaN      NaN        NaN

In [6]:
attribute=np.array(data)[:,:-1]

In [7]:
attribute

array([['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Warm', 'Same'],
       ['Cloudy', 'Cold', 'High', 'Strong', 'Warm', 'Change'],
       ['Sunny', 'Cold', 'High', 'Strong', 'Cool', 'Change'],
       [nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, nan, nan, nan],
       [nan, nan, nan, ' ', nan, nan]], dtype=object)

In [10]:
target=np.array(data)[:,-1]

In [11]:
target

array(['Yes', 'Yes', 'No', 'Yes', nan, nan, nan, nan, nan], dtype=object)

In [13]:
def train(att,tar):
    for i,val in enumerate(tar):
        if val=='Yes':
            specific_h=att[i].copy()
            break;
    for i,val in enumerate(att):
        if tar[i] =='Yes':
            for x in range(len(specific_h)):
                if val[x]!=specific_h[x]:
                    specific_h[x]='?'
                else:
                    pass
    return specific_h
print(train(attribute,target))

['Sunny' '?' '?' 'Strong' '?' '?']